<script type="text/javascript">
  var _paq = window._paq = window._paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  // Set cookie domain to include all subdomains
  _paq.push(['setCookieDomain', '*.lafermetteverdoyante.com']);
  // Define domains to prevent outlink tracking
  _paq.push(['setDomains', ['*.lafermetteverdoyante.com']]);
  (function() {
  var u = "https://matomo.lafermetteverdoyante.com/";
  _paq.push(['setTrackerUrl', u + 'matomo.php']);
  _paq.push(['setSiteId', '1']);
  var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
  g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
