Thumbs.db
.DS_Store
.dist
.tmp
.lock
.sass-cache
npm-debug.log
node_modules
builds
package-lock.json
public
resources
.hugo_build.lock
jsconfig.json
hugo_stats.json
go.sum
yarn.lock
tailwind.config.js
sync-calendar.js
credentials.json
sync-calendar.js.webtoken
token.json
data/calendar.json
fetch-calendar.js
data/calendar_processed.json
sync-calendrier.js
sync-public-calendar.js