@utility bg-gradient {
  @apply bg-linear-to-b from-[#FFF6E0] from-[1%] to-[#ffe9b37c] to-[100%] dark:from-darkmode-light dark:to-darkmode-body;
}

@utility bg-gradient-inversed {
  @apply bg-linear-to-t from-[#ffe9b37c] from-[100%] to-[#FFF6E0] to-[1%] dark:from-darkmode-body dark:to-darkmode-light;
}   

@utility bg-gradient-via {
  @apply bg-linear-to-b from-[#ffe9b37c] from-[1%] via-[#FFF6E0] via-[50%] to-[#ffe9b37c] to-[10%] dark:from-darkmode-body dark:to-darkmode-light;
} 

/* form style */
@utility form-input {
  @apply w-full rounded border-transparent bg-light px-6 py-4 text-text-dark placeholder:text-text-light focus:border-primary dark:focus:border-darkmode-primary focus:ring-transparent dark:border-darkmode-border dark:bg-darkmode-light dark:text-darkmode-text-light;
}

@utility form-label {
  @apply mb-4 block font-secondary text-xl font-normal text-text-dark dark:text-darkmode-text-light;
}
