{{ $startDate := time.AsTime "2026-01-01" }}
{{ $endDate := time.AsTime "2026-12-31" }}
{{ $oneDay := time.ParseDuration "24h" }}
{{ $duration := $endDate.Sub $startDate }}
{{ $days := div $duration.Hours 24 }}
{{ $currentdate := $startDate }}
{{ $.Scratch.Set "lastmonth" 0 }}

{{ range seq 0 $days }}
  {{ $isSunday := strings.Contains $currentdate.Weekday.String "Sunday" }}
  {{ $isSaturday := strings.Contains $currentdate.Weekday.String "Saturday" }}
  {{ if ne $currentdate.Month ($.Scratch.Get "lastmonth") }}
    {{ if gt ($.Scratch.Get "lastmonth") 0 }}
      </table>
    {{ end }}
    <h1 class="text-center">{{ index $.Site.calendrier.mois (printf "%d" $currentdate.Month) }}</h1>   
    <table border="1">
      <tr>
        <td>Dimanche</td>
        <td>Lundi</td>
        <td>Mardi</td>
        <td>Mercredi</td>
        <td>Jeudi</td>
        <td>Vendredi</td>
        <td>Samedi</td>
      </tr>
      <tr>
      {{/* Padding */}}
      {{ $paddingDate := time.AsTime "2024-12-01" }}
      {{ $monthStartDateString := print (time.Format "2006-01" $currentdate) "-01" }}
      {{ $monthStartDate := time.AsTime $monthStartDateString }}
      {{ range seq 0 6 }}
        {{ if eq $paddingDate.Weekday.String $monthStartDate.Weekday.String }}{{ break }}{{ end }}
        <td></td>
        {{ $paddingDate = $paddingDate.Add $oneDay }}
      {{ end }}
    {{ else }}
      {{ if $isSunday }}
        <tr>
      {{ end }}
    {{ end }}

    <td>{{ $currentdate.Day }}</td>

    {{ if $isSaturday }}
      </tr>
    {{ end }}

    {{ $.Scratch.Set "lastmonth" $currentdate.Month }}
    {{ $currentdate = $currentdate.Add $oneDay }}
  {{ end }}
</table>   